header{
	background-color: #6A89A6;

	height: 70px;
        display:flex;
        justify-content: space-around;
}

body {
	font-family: Arial, Verdana, sans-serif;
	color: #000;
	margin:0;
	 max-width: 1440px;
}

h1 {
	margin-top: 0;
	font-size: 3rem;
}

a {
	text-decoration: none;

}



h2 {
	font-size: 2rem;
	margin: 3rem 0rem 0.5rem;

}
h3 {
	font-size: 1.5rem;
	margin: 3rem 0rem 0.5rem;

}
h4{
	font-size: 1.2rem;
	margin: 1rem 0rem 0.5rem;
}

.exhibition-brief h1{
  margin-bottom: -2rem;
}
.exhibition-brief h2{
  margin-bottom: -2rem;
}

.iacchetti-brief h2{
  margin-bottom: -1rem;
}

.exhibition-brief-2 h4{
  margin-bottom: -1rem;
}

.loc-intro h4{
  margin-bottom:0.5rem;
}

h1, h2, h3,h4{ 
	font-weight: normal;
	margin-bottom:0;
}

figure {
	margin-left: 0;
}

ul {
  list-style-type: none;
 
  padding: 0;
  overflow: hidden;
  background-color: #6A89A6;
  display:flex;
  justify-content:space-around;

  flex: 3 auto;
margin-top:0;
        font-size: 18px;
        line-height: 1.5;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #376794;
}

li.dropdown {
  display: inline-block;
}

.nav-main-item{
  display: inline-block;
  padding: 1rem;
 
  text-decoration: none;

  flex: 3 auto;
margin: 5px;
        font-size: 18px;
        line-height: 1.5;

  
  background-color: #6A89A6;
  color:white;
  

  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.nav-main-item:hover, .nav-main-item:active, .nav-main-item:focus{
  color: #376794;
  background-color: #6A89A6;
}
  button {
        flex: 1 auto;
        margin: 5px;
        font-size: 18px;
        line-height: 1.5;
      }

img{
	height:auto;
	max-width:100%;
}

blockquote {
	font-size: 2rem;
	font-style: italic;
	color: orange; 
	margin: 0;
}

.exhibition-brief{
	margin: auto;
 padding: 50px;
	text-align: center;
}

.iacchetti-brief{
 display: flex;
	 flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}

      article {
        padding: 10px;
        margin: 2rem;
        
      }

      article:nth-of-type(1){
        flex: 3 100px;
        margin-left: 7rem;
        margin-right: 0.5rem;
      }

      article:nth-of-type(2) {
        flex: 2 100px;
        display: flex;
        flex-flow: column;
        margin-left: 0.5rem;
        margin-right: 6rem;
      }
  button div.iacchetti-brief{
        flex: 1 auto;
        margin: 5px;
        font-size: 18px;
        line-height: 1.5;
        background: #376794;
        color: white;
      }
      
.div{
	margin:10rem;
}
  .exhibition-brief-2{
 display: flex;
	 flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #EDEDED;
}

.exhibition-brief-2 img[src="img/iacchetti-2.png"]{
	margin-top: 2rem;
	

}

      article:nth-of-type(1) div.exhibition-brief-2{
        flex: 2 100px;
        display: flex;
        
        margin-left: 7rem;
        margin-right: 0.5rem;
      }

      article:nth-of-type(2) div.exhibition-brief-2{
        flex: 3 100px;
        margin-left: 0.5rem;
        margin-right: 6rem;
      }

     
  button div.iacchetti-brief{
        flex: 1 auto;
        margin: 5px;
        font-size: 18px;
        line-height: 1.5;
        background: #376794;
        color: white;
      }
.iacchetti-intro{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: white;
}

      .iacchetti-intro article:nth-of-type(1){
        flex: 1 200px;
        margin-left: 7rem;
        margin-right: 0.5rem;
      }

      .iacchetti-intro article:nth-of-type(2) {
        flex: 1 200px;
        display: flex;
        flex-flow: column;
        margin-left: 0.5rem;
        margin-right: 6rem;
      }

.design-timeline{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #EDEDED;
}

      article:nth-of-type(1){
        flex: 1 200px;
        margin-left: 7rem;
        margin-right: 0.5rem;
      }

      article:nth-of-type(2) {
        flex: 1 200px;
        display: flex;
        flex-flow: column;
        margin-left: 0.5rem;
        margin-right: 6rem;
      }

.nav-sub-item{
  display:inline-block;
  background-color: #376794;
  font-size: 1.5rem;
  color:white;
  padding:0.5rem 0.75rem;

  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.nav-sub-item:hover, .nav-sub-item:active, .nav-sub-item:focus{
  background-color: #02315C;
}
 

 .moscardino-intro{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}

      
     .why-signature-m{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}
.sofa-intro{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}

/*.sofa-intro article:nth-of-type(1){
 display: flex;
   flex-flow: row wrap;
        align-self: center;
        justify-content: space-around;
        background: #C7D4E0;
}*/
    

     .why-signature-s{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}

      .loc-guide{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}
     .loc-intro{
 display: flex;
   flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-around;
        background: #C7D4E0;
}

.nav-link{

  text-decoration: none;
  color:ghostwhite;
}

.nav-link:hover, .nav-link:active, .nav-link:focus { 
  color: #376794;
}


.loc-guide h4{
  margin-bottom: -0.5rem;
}



footer{ 
	background-color: #6A89A6; 
	color:white;
  padding:1rem;

}
